.a-our-services-bg{
    background-color: #f3f3f3;
}
.a-our-services-wrapper{
    padding: 8% 0 8%;
    color: #343434;
}

h4{
    padding-top: 20%;
}

.a-our-services-heading{
    color: #343434;
}

/* Meqia Query */
@media screen and (max-width: 600px){
    .a-our-services-wrapper{
        padding: 20% 0 20%;
    }
    h4 {
        font-weight: bold;
        padding-top: 10%;
    }
}