.a-navbar-menu-banner{
    position: fixed;
    top: 0;
    margin-top: 85px;
    z-index: 9999999;
    background-color: #ffffff;
    padding-bottom: 40px;
    display: none;
    /* box-shadow: 0 0 0 35px rgba(0,0,0,0.1); */
    /* height: 90vh; */
}

.a-navbar-menu-options{
    padding-top: 40px;
    color: #076847;
}

.a-navbar-menu-options div, a{
    text-align: end;
    font-size: 100%;
    line-height: 110%;
    text-decoration: none;
    color: #076847;
    padding-bottom: 20px;
}

a:hover{
    text-decoration: none;
    color: #076847;
}

.a-navbar-menu-boldheader{
    font-size: 150% !important;
    line-height: 160%;
    font-weight: bold;
    margin-top: 50px;
}

.a-navbar-bold-menus{
    font-weight: bold;
    padding-right: 5px;
}

